<article class="post">

  <div class="title">
    <a href="/post/{{id}}">
      <h3>{{title}}</h3>
    </a>
    <h4>Posted by {{user.username}}</h4>
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>

  <div class="post-text">
    {{post_text}}
  </div>

</article>